[submodule "cpuminer-opt"]
	path = dependencies/cpuminer-opt
	url = https://github.com/JayDDee/cpuminer-opt.git
[submodule "dependencies/electron-webpack-react-quickstart"]
	path = dependencies/electron-webpack-react-quickstart
	url = https://github.com/slashbinslashnoname/electron-webpack-react-quickstart.git
